<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑问卷</title>

    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <style>
        .hide {
            display: none;
        }

        ol {
            padding: 0;
            list-style: none;
            counter-reset: sectioncounter
        }

        ol > li:before {
            content: '问题' counter(sectioncounter) ':';
            counter-increment: sectioncounter;
            font-size: 18px;
            color: #d4d4d4;
        }

        ol > li:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">平台首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">资产首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">任务</a></li>
                <li><a href="#">通知</a></li>
                <li><a href="#">消息</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11" id="id_content">
            <div class="pull-right"><button type="button" class="btn btn-success" id="add_btn">添加</button><button type="button" class="btn btn-primary" id="save_btn" style="margin-left: 5px">保存</button></div>
            <ol style="padding-top: 35px" id="id_question_ol">
                {% for item in form_list %}
                    <li style="margin-top: 10px;border-style:dotted solid;border-width: 1px">
                        <p class="glyphicon glyphicon-remove pull-right" style="padding: 10px" id="id_question_del"></p>
                        <div pk="{{ item.obj.id }}">
                            <p id="question_title">问题名称：{{ item.form.caption }}</p>
                            <p id="question_type">问题类型：{{ item.form.type }}<span id="add_option" class="{{ item.option_class }}">&nbsp;&nbsp;+添加选项</span></p>
                            <ul>
                                {% for option in item.options %}
                                    <li ok="{{ option.obj.id }}">{{ option.form }}<span id="id_option_del" style="padding-left: 200px">&Chi;</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<script>

    // 点击添加按钮，添加问题
    $("#add_btn").click(function () {
       var s = '<li style="margin-top: 10px;border-style:dotted solid;border-width: 1px">\n' +
           '                        <p class="glyphicon glyphicon-remove pull-right" style="padding: 10px" id="id_question_del"></p>\n' +
           '                        <div pk="">\n' +
           '                            <p id="question_title">问题名称：<input name="caption" value="" maxlength="64" required="" id="id_caption" type="text"></p>\n' +
           '                            <p id="question_type">问题类型：<select name="type" required="" id="id_type">\n' +
           '  <option value="">---------</option>\n' +
           '\n' +
           '  <option value="1" selected="">打分</option>\n' +
           '\n' +
           '  <option value="2">单选</option>\n' +
           '\n' +
           '  <option value="3">评价</option>\n' +
           '\n' +
           '</select><span id="add_option" class="hide">&nbsp;&nbsp;+添加选项</span></p>\n' +
           '                            <ul>\n' +
           '                                \n' +
           '                            </ul>\n' +
           '                        </div>\n' +
           '                    </li>';

        $("ol").append(s);
    });


    // 单击单选选项添加 添加选项按钮
    $("#id_content").on('change','#question_type',function () {
        if ($(this).children().val() == 2){
            $(this).children().filter("#add_option").removeClass("hide");
        }
        else {
            $(this).children().filter("#add_option").addClass("hide");
            $(this).next("ul").empty();
        }
    });

    
    // 点击添加按钮添加选项列表
    $("#id_content").on('click','#add_option',function () {
        s = '<li ok=""><label for="">单选的名称:</label><input name="name" value="" maxlength="32" required="" id="" type="text">\n' +
            '<label for="">选项对应的分数:</label><input name="score" value="" required="" id="" type="number"><span  id="id_option_del" style="padding-left: 200px">Χ</span></li>';
        $(this).parent('#question_type').next('ul').append(s);
    });

    
    // 单击选项删除，删除选项
    $("#id_content").on('click','#id_option_del',function () {
        $(this).parent("li").remove();
    });
    
    
    // 点击问题删除键删除问题
    $("#id_content").on('click','#id_question_del',function () {
        $(this).parent("li").remove();
    });

    // 点击保存，拿到问题的数据，对数据进行处理，利用ajax传到后台处理
    $("#id_content").on('click',"#save_btn",function () {
        var pList=[];
        var pDict={};
        $("ol>li").each(function (k,v) {
            var pDict={};
            pDict['pid']=$(this).find('div').attr('pk');
            pDict['title']=$(this).find('#id_caption').val();
            pDict['type']=$(this).find('#id_type').val();
            pDict['options']=[];
            if($(this).find('#id_type').val()==2){
                $(this).find('ul>li').each(function () {
                    oDict={};
                    oDict['id']=$(this).attr('ok');
                    oDict['title']=$(this).find('input').first().val();
                    oDict['val']=$(this).find('input').last().val();
                    pDict['options'].push(oDict);
                })
            }
            pList.push(pDict);
        });
        console.log(pList);

        $.ajax({
            url:"/edit_questionnaire/1/",
            type:"post",
            contentType:"json",
            headers:{"X-CSRFToken":$.cookie("csrftoken")},
            data:JSON.stringify(pList),
            success:function(data){

            }
        })

    })
</script>
</body>
</html>